.card {
  width: 398px;
  height: 668.82px;
  box-shadow: 0px 8.73248px 26.1974px 8.73248px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding: 35px 0 34px 35px;
  justify-content: space-between;
}

.line {
  width: 327.83px;
  height: 1.1px;
  background-color: #cbd6e2;
}

.popular {
  font-style: normal;
  font-weight: 600;
  font-size: 17.465px;
  line-height: 32px;
  color: #33475b;
  margin-top: 36px;
  margin-bottom: 17px;
}

.feature {
  display: flex;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 13.0987px;
  line-height: 32px;
  margin-top: 9px;
  color: #33475b;
}

.cardButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 302.74px;
  height: 52.65px;
  background-color: #206ecf;
  border-radius: 4px;
  margin-top: 97px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.cardHeader {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 26.1974px;
  line-height: 35px;
  color: #363c45;
}

.paragraph {
  width: 328px;
  height: 174px;
  font-style: normal;
  font-weight: 500;
  font-size: 15.2818px;
  line-height: 25px;
  color: #33475b;
  margin-top: 27px;
  margin-bottom: 36px;
}

.blue {
  width: 34.93px;
  height: 34.93px;
  background: #206ecf;
  border-radius: 8.73248px;
  display: flex;
  justify-content: center;
  align-items: center;
}
