header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 79px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

header::after {
  content: " ";
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: -115px;
  background-color: #fff;
  transform: skewY(-15deg);
}

.video {
  z-index: 1;
  width: 100%;
}

.titleOne {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  color: #f3f5f7;
  z-index: 1;
}

.titleTwo {
  width: 398px;
  height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.352212px;
  margin-top: 20px;
  margin-bottom: 15px;
  z-index: 1;
}

.paragraph {
  width: 398px;
  height: 69px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 165%;
  color: #e7eaee;
  margin-bottom: 37px;
  z-index: 1;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 251px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1b1e22;
  margin-bottom: 40px;
  z-index: 1;
}

.circles {
  top: -50px;
  left: 40vw;
  width: 755px;
  height: 755px;
  overflow: hidden;
  position: absolute;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  opacity: 0.2;
}

.circle {
  opacity: 0.9;
  border: 1px solid #fff;
  height: 100%;
  width: 175px;
  border-radius: 50%;
  position: absolute;
}

.a {
  transform: rotate(35deg);
}

.b {
  transform: rotate(40deg);
}

.c {
  transform: rotate(45deg);
}

.d {
  transform: rotate(50deg);
}

.e {
  transform: rotate(55deg);
}

.f {
  transform: rotate(60deg);
}

.g {
  transform: rotate(65deg);
}

.h {
  transform: rotate(70deg);
}

.i {
  transform: rotate(130deg);
}

.j {
  transform: rotate(135deg);
}

.k {
  transform: rotate(140deg);
}

.l {
  transform: rotate(145deg);
}

.m {
  transform: rotate(150deg);
}

.n {
  transform: rotate(155deg);
}

.o {
  transform: rotate(160deg);
}

@media screen and (min-width: 519px) {
  header::after {
    bottom: -30px;
    height: 300px;
    transform: skewY(-10deg);
  }

  .circles {
    left: 60vw;
  }
}

@media screen and (min-width: 1200px) {
  .titleOne {
    font-size: 26px;
  }

  .titleTwo {
    width: 1130px;
    height: 128px;
    font-size: 72px;
    line-height: 64px;
  }

  .paragraph {
    font-size: 20px;
    width: 740px;
    height: 66px;
  }

  .video {
    width: 938px;
  }

  header::after {
    bottom: -360px;
    height: 700px;
    transform: skewY(-5deg);
  }

  .circles {
    width: 2300px;
    height: 2300px;
    top: -800px;
    left: 20vw;
  }
}
