header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 79px;
  color: #fff;
}

.titleOne {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  color: #f3f5f7;
}

.titleTwo {
  width: 398px;
  height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.352212px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.paragraph {
  width: 398px;
  height: 69px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 165%;
  color: #e7eaee;
  margin-bottom: 37px;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 251px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1b1e22;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .titleOne {
    font-size: 26px;
  }
  .titleTwo {
    width: 1130px;
    height: 128px;
    font-size: 72px;
    line-height: 64px;
  }
  .paragraph {
    font-size: 20px;
    width: 740px;
    height: 66px;
  }

  .video {
    width: 938px;
  }
}
