.main {
  background-color: #fff;
  padding-top: 135px;
  padding-bottom: 135px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5.64686px 16.9406px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  width: 64px;
  height: 64px;
  background-color: #fff;
}

.logoOne {
  position: relative;
  bottom: 51px;
}

.logoTwo {
  position: relative;
  bottom: 75px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #206ecf;
}

.subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1f2024;
  opacity: 0.8;
  margin-top: 8px;
  margin-bottom: 8px;
}

.paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #6b788a;
  margin-bottom: 112px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 112px;
}

.comunityHeader {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

@media screen and (min-width: 845px) {
  .cards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 3vw;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    padding: 200px 155px;
  }

  .logo {
    width: 130px;
    height: 130px;
    border-radius: 32px;
  }

  .image {
    width: 70px;
  }

  .logoOne {
    bottom: 80px;
  }

  .logoTwo {
    bottom: 120px;
  }

  .cards {
    gap: 1.5vw;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: auto auto auto;
  }
}
