.main {
  background-color: #fff;
  padding: 135px 15px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5.64686px 16.9406px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  width: 64px;
  height: 64px;
  background-color: #fff;
}

.logoOne {
  position: relative;
  bottom: 51px;
}

.logoTwo {
  position: relative;
  bottom: 75px;
}

.comunityHeader {
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #206ecf;
}

.subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1f2024;
  opacity: 0.8;
  margin-top: 8px;
  margin-bottom: 8px;
}

.paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #6b788a;
  margin-bottom: 112px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 112px;
}
